@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  background: rgb(41, 36, 36);
  --color: rgb(255, 255, 255);
  --input: rgb(148, 148, 148);
  --button: #e67568;
  --AccColor: rgb(128, 131, 131,0.12);
  --borderAccount: rgb(122, 199, 189);
  --headerColor: black;
  --menuIcons: white;
  --conainerAuction: black;
  --iconsFooter: white;
  --auctionDescription: rgb(255, 255, 255,0.65); 



  --oposite: rgb(255, 255, 255);
  --color-imput: rgb(255, 255, 255);
}

:root.light {
  background: rgb(154, 203, 218);
  --color: rgb(0, 0, 0);
  --input: rgb(0, 0, 0);
  --button: #803d3d;
  --AccColor: rgba(138, 138, 138, 0.25);
  --borderAccount: rgb(122, 199, 189);
  --headerColor: rgb(185, 219, 211);
  --menuIcons: black;
  --conainerAuction: rgb(255, 255, 255);
  --iconsFooter: black;
  --auctionDescription: black;

  --oposite: rgb(0, 0, 0);
  --back-color: rgb(255, 255, 255);
  --back-color-note: rgb(55, 211, 177);
  --color-imput: rgb(194, 56, 56);
}

* {
  font-family: Lato;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;

}


label {
  font-size: 24px;
  color: var(--color)
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color);
  border-radius: 8px;
  -webkit-text-fill-color: var(--input);
  padding: 8px
}

.button {
  background-color: var(--button);
  border: none;
  padding: 8px;
  border-radius: 30px;
  width: 140px;
  color: white
}

.buttonLogin:hover {
  background-color: #bfd7ea;
  transition: 500ms;
  color: #1f2b35;
}

.anchor {
  text-decoration: none;
  color: white;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: var(--oposite);
}