@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
  font-family: 'Roboto', sans-serif;
  background: var(--bs-color-600);
  
  --background-input: #F0F0F0;
  --bs-color-100: #FAFAFA;
  --bs-color-600: #979797;
  --bs-color-800: #818181;
  --bg-acutionList: #DEDEDE;
  
  --pr-blue-300: #62B8FC;
  --pr-blue-800: #0968C8;
  --textArea-text: #334D90;

  --sd-color-900: #122359;
  --sd-color-800: #F5F5F5;
  --sd-color-500: #F0F0F0;
  
  --pink-900: #95006C;



}

:root.light {
  background: var(--bs-color-100);

  --background-input: #F0F0F0;
  --bs-color-100: #FAFAFA;
  --bs-color-600: #979797;
  --bs-color-800: #FAFAFA;
  
  --pr-blue-300: #62B8FC;
  --pr-blue-800: #0968C8;
  --textArea-text: #334D90;

  --sd-color-900: #122359;
  --sd-color-800: #1D3370;
  --sd-color-500: #334D90;
  
  --pink-900: #95006C;
  
  --color: rgb(0, 0, 0);
  --input: rgb(0, 0, 0);
  --button: #803d3d;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  color: var(--sd-color-500);
}

h1 {
  font-size: 55px;
  font-weight: 900;
}

h2 {
  font-size: 45px;
  font-weight: 650;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

/* h6{
  font-size: 24px;
  font-weight: 500;
} */

label {
  font-size: 24px;
  color: var(--sd-color-800);
  padding-left: 12px;
}

input {
  background: var(--background-label);
  color: var(--bs-color-imput);
  padding: 8px 18px;
  border-radius: 24px;
  border: none;
  outline: none;
}

input:focus{
  border: 1px solid var(--pr-blue-300) ;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

li{
  list-style-type: none;
}

.buttonLogin:hover {
  background-color: #bfd7ea;
  transition: 500ms;
  color: #1f2b35;
}

.anchor {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 45px;
    font-weight: 700;
  }

  h2 {
    font-size: 35px;
    font-weight:600;
  }

  h3 {
    font-size: 30px;
    font-weight: 500;
  }

  h4 {
    font-size: 26px;
    font-weight: 400;
  }

  h5 {
    font-size: 18px;
    font-weight: 300;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }
}