@media only screen and (min-width: 600px) and (max-width:900px) {
  .auction-list-container {
    margin-top: 68px;
    margin-bottom: 68px;
  }

  .title-of-auctionList {
    width: 60%;
    flex-wrap: wrap;
    padding: 16px;
    margin: 12px;
    display: flex;
  }

  .title-auctionList {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .AuctionList {
    padding: 12px;
    margin: 12px 0 68px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    width: 90%;
  }

  .auction-list-container {
    margin: 68px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AuctionList li {
    background-color: var(--bg-acutionList);
    padding: 8px;
    border-radius: 8px;
  }

  .homePost {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tittleAndDescriptionContainer,
  .priceAndButton {
    padding: 12px;
  }

  .priceContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .textOffert {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .inputAndButton {
    display: flex;
    justify-content: center;
  }

  .bidButton {
    font-size: 16px;
    background: var(--sd-color-500);
    width: 80%;
    padding: 12px;
    border-radius: 26px;
    border: 1px solid var(--bs-color-600);
  }

  .inputBid {
    border: 1px solid var(--sd-color-500);
    background-color: var(--background-input);
  }

  .AuctionList li img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }

  .endDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .auction-list-container {
    margin: 68px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-of-auctionList {
    width: 60%;
    flex-wrap: wrap;
    padding: 16px;
    margin: 12px;
    display: flex;
  }

  .title-auctionList {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .AuctionList {
    padding: 12px;
    margin: 12px 0 68px;
    display: flex;
    flex-direction: column;
    gap: 54px;
  }

  .AuctionList li {
    background-color: var(--bg-acutionList);
    padding: 8px;
    border-radius: 8px;
  }

  .AuctionList li img {
    width: 50vh;
    height: auto;
    border-radius: 6px;
  }

  .homePost {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tittleAndDescriptionContainer,
  .priceAndButton {
    padding: 12px;
  }

  .bidButton {
    font-size: 16px;
    background: var(--sd-color-500);
    width: 80%;
    padding: 12px;
    border-radius: 26px;
    border: 1px solid var(--bs-color-600);
  }

  .textOffert {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .inputAndButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 26px;
  }

  .auctionDescription {
    padding: 8px;
  }

  .inputBid {
    border: 1px solid var(--sd-color-500);
    background-color: var(--background-input);
  }

  .endDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  .priceContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .titleAuction {
    color: black;
  }
}