.RenderAuctionsContainer {
  list-style: none;
  background: var(--AccColor);
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
}

.footer {
  height: 68px;
}

/* .AuctionList {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--conainerAuction);
} */

.headerAucctionContainer {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.homePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.tittleDescription {
  height: 100%;
  padding: 0 16px 0 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

ul {
  color: var(--color);
}

#bidButton {
  cursor: pointer;
}

.bidButton{
  background-color: transparent;
  color: var(--color);
  border-style: none;
  border: 1px solid var(--color);
  border-radius: 16px;
  height: 32px;
  width: 100px;
  transition: background-color .5s;
}

.bidButton:hover {
  background-color: powderblue;
  transition: background-color .5s;
}

.bidContainer {
  display: flex;
}

.priceAndButton {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 15px;
  width: 100%;
}

.priceContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.inputAndButton{
  gap: 16px;
  display: flex;
}

.inputBid{
  height: 30px;
  width: 50px;
}

.DateP {
  margin: 0px;
}

.img {
  height: 450px;
  width: 414px;
  position: relative;
}

.endDate {
  display: flex;
  align-self: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 16px;
}