.Feedback {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.837);
    align-items: center;
    display: flex;
    justify-content: center;
  
  }
  
  .Feedback__box {
    position: absolute;
    height: 140px;
    width: 300px;
    border: 1px solid var(--sd-color-500);
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 8px 8px rgb(255 255 255);
  }
  
  .Feedback--error > .Feedback__box {
    height: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
    background-color: #bfd7ea;
} 
  
  .Feedback--warning > .Feedback__box {
    background-color: orange;
  }
  
  .Feedback--success > .Feedback__box {
    background-color: green;
  }
  
  .Feedback--info > .Feedback__box {
    background-color: dodgerblue;
  }
  