.HeaderContainer{
  width: 100%;
  background-color: hsl(209, 51%, 48%);
  position: fixed;
  top: 0;
  z-index:5;
}

.headerBanner{
  height: 55px;
}

.menuContainer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: var(--color);
  background-color: var(--headerColor);
  padding: 0px;
}

.HeaderMenuContainer {
  background-color: var(--headerColor);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 12px 2vh 8px 0;
  gap: 25px;
}
