.AuctionList {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--containerAuction);
    padding: 0px;
    gap: 26px;
  }

.renderMyAuctions {
  list-style: none;
  background: var(--AccColor);
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
}

